
.Task{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(178, 197, 214);
    margin: 10px 0;
    padding: 10px;
    
}

