.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    margin: 20px;
    padding: 30px;
    background-color: white;
}

.header{
   display:flex;
   border: 1px solid blue;
   padding: 15px;
}

.task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
}

.taskShow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border: 1px solid black; */
    
}



